        {% block nav %}<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('index') }}">
                <img src="{{ asset('img/shard-ico.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                ShardKeepr
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('PartMeasurementUnit.index') }}">PartsMeasurementUnit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('Manufacturer.index') }}">Manufacturer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('Distributor.index') }}">Distributor</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Authentication{% if app.user %} (You are logged in as {{ app.user.username }}){% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    {% if app.user %}
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                    <a class="dropdown-item" href="{{ path('app_login') }}">Login</a>
                    <a class="dropdown-item" href="{{ path('registration') }}">Register</a>
                    {% endif %}
                    </div>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>{% endblock %}